.cube-wrap {
  width: 400px;
  height: 400px;
  perspective: 200px;
  perspective: 50% -500px;
  position: relative;
}
.single-box {
  /* background: url(../../assets/css.png); */
  background-size: cover;
  display: block;
  position: absolute;
  width: 355px;
  height: 355px;
  transform: rotateY(45deg) translateZ(-200px) rotateX(15deg);
  transform-origin: 50% 50% 0;
  border: 3px solid white;
}
.box {
  transform-style: preserve-3d;
  animation: rotate 7s linear infinite;
}
.side-front {
  background: url(../../assets/css.png);
  transform: translateZ(180px);
}
.side-back {
  /* background: url(../../assets/html.png); */
  transform: rotateY(180deg) translateZ(180px);
}
.side-top {
  /* background: url(../../assets/css.png); */
  transform: rotateY(90deg) translateZ(180px);
}
