* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#signature{
  stroke-dasharray: 2371;
  stroke-dashoffset: 2371;
  animation: sign 4s ease infinite ;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}


.clip-path {

  clip-path: polygon(50% 0%, 0% 100% , 100% 100%, );
  
  }

  @layer components {
    .cardAnimation{
      @apply relative w-[350px] h-[190px] bg-white transition-all duration-300 hover:h-[450px]
    }
    .cardLineAnimation{
      @apply absolute inset-0 overflow-hidden
    }
    .cardLineAnimation::before{
      @apply content-[''] absolute top-[50%] left-[50%] w-[600px] h-[120px] bg-gradient-to-r from-transparent via-cyan-400 to-transparent translate-x-[-50%] translate-y-[-50%] animate-roll
    }
    .cardLineAnimation::after{
      @apply content-[''] absolute inset-2 bg-black
    }
  }
  
  